/* navbar start */
*,a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;

}
#row1 > *{
    height: 100px;
    
}
#row2 > *{
    height: 50px;
}
#row > *{
    height: 40px;
    display: flex;
    align-items: center;
    transition: all linear 0.2s;
    
    
}
#row a:hover{
    color: rgb(44, 96, 206);
    

}
#searchbar{
    width: 60%;
    height: 50px;
    outline: none;
    box-shadow: none;
    

}
.nav{
    gap: 40px;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

    
.nav li a{
    color: white;
    text-transform: uppercase;
    transition:all linear.44s;
    
     
}
.nav li a:hover{
    color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
}

#categories{
    text-align: center;
    align-content: center;
     color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-family: sans-serif;
    
    
}
#navicons{
    text-align: center;
    
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.srb{
    width: 90px;
   
    height: 50px;
    border: none;
    color: white;
    background-color:  #317ee4;;
    transition: all linear 0.3s;
}
.srb:hover{
    background-color: black;
    color: white;
}
.srb1{
    margin-top: 25px;
    width: 150px;
    font-family:Bahnschrift;
    height: 50px;
    border: none;
    color: white;
    background-color:  #317ee4;;
    transition: all linear 0.3s;
    
    border-radius: 5px;
}
.srb1:hover{
    background-color: black;
    color: white;
}
#otherslink{
    background-color: #317ee4;
}
#otherslink li a{
    color: rgb(255, 255, 255);
   
}
#otherslink li a:hover{
color: rgb(255, 255, 255);
background-color:black ;
}
/* navbar end */

#ship{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#ship{
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}
/* banner start */
#row3{
    text-align: center;
}

#ban1 a img{
    width: 260px;
}

#ban2 a{
    
}
#ban2 a img{
    width: 550px;
}
#ban3 a img{
    width: 260px;
}



/* banner end */
/* deal product start */



#cardpic{
   line-height: 50px;
    background-color: #317ee4;
    transition: all linear 0.3s;
    margin: 5px;
 
}
#cardpic:hover{
        box-shadow: 5px 5px 5px 2px rgb(150, 146, 146);
        transform: scale(102%);
        


}
#cardpic a img{
    height: 250px;
   border-bottom-left-radius:20px ;
   border-bottom-right-radius:20px ;
   transition: all linear 0.3s;
}
#cardpic a img:hover{
  transform: scale(98%);
}

.cardpic:hover{
    background-image: url("/images/mobile2.webp");
   
}
#bt{
   padding: 13px;
    border: none;
    color: rgb(0, 0, 0);
    background-color:  #ffffff;;
    transition: all linear 0.3s;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
    
}
#bt:hover{
    background-color: black;
    color: white;
}



/* deal product end */
/* banner 2 start */

#row5{
}
#ban4{
    text-align: center;
    transition: all linear 0.3s;
}
#ban5{
    text-align: center;
    transition: all linear 0.3s;
}
#ban4:hover{
    transform: scale(101%);
}
#ban5:hover{
    transform: scale(101%);
}
#ban4 a img{
    width: 95%;
}
#ban5 a img{
    width: 95%;
}
/* banner 2 end */
/* top categories this week star */
#cate1{
     width: 300px;
    height: 300px;
}

#cate2{
    border: 1px solid rgb(179, 179, 179);
    transition: all linear 0.3s;
    width: 300px;
    height: 300px;
    
}
#cate2:hover{
    border: 1px solid red;
}
#cate3{
    border: 1px solid rgb(179, 179, 179);
    transition: all linear 0.3s;
     width: 300px;
    height: 300px;
}
#cate3:hover{
    border: 1px solid red;
}
#cate4{
    border: 1px solid rgb(179, 179, 179);
    transition: all linear 0.3s;
     width: 300px;
    height: 300px;
     margin-top: 5px;
}
#cate4:hover{
    border: 1px solid red;
}
#cate5{
    border: 1px solid rgb(179, 179, 179);
    transition: all linear 0.3s;
     width: 300px;
    height: 300px;
     margin-top: 5px;
}
#cate5:hover{
    border: 1px solid red;
}
#cate6{
    border: 1px solid rgb(179, 179, 179);
    transition: all linear 0.3s;
      width: 300px;
    height: 300px;
    margin-top: 5px;
    
}
#cate6:hover{
    border: 1px solid red;
}
#catebtn{
    
     padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #317ee4;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#catebtn:hover{
     background-color: black;
    color: white;
}
/* top categories this week end */
/* card2start */
#row7{
    justify-content: center;
    
}
#card2item1{
    
    width: 370px;
    display: flex;
    margin: 5px;
    transition: all linear 0.3s;
    border-radius: 10px;
}
#card2item1:hover{
    box-shadow: 5px 5px 5px 2px rgb(150, 146, 146);
        transform: scale(102%);
}
#card2item1 a img{
    transition: all linear 0.3s;
}
#card2item1 a img:hover{
   transform: scale(94%);
}
#card2btn{
    
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #317ee4;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#card2btn:hover{
     background-color: black;
    color: white;
}
/* card2end */
/* banner3start */
#banner3{
   border-radius: 10px;
   transition: all linear 0.3s;
}
#banner3:hover{
     box-shadow: 5px 5px 5px 2px rgb(150, 146, 146);
        transform: scale(102%);

}

/* banner3end */
/* footerstart */
#information{
   display: block;
    line-height: 30px;
     transition: all linear 0.2s;
}
#myaccount{
    display: block;
    line-height: 30px;
    transition: all linear 0.2s;
}
#row4 a:hover{
    color: #317ee4;
}
#siteicon{
   display: inline;
   transition: all linear 0.2s;
   font-size: 40px;
  
}
#subscribe{
 padding: 11px;
 width: 56%;
}
/* footerend */